<mat-card class="upload-card" role="region">
  <mat-card-header>
    <mat-card-title>
      <h3>
        Please choose the excel file containing Customer Data
      </h3>
    </mat-card-title>
  </mat-card-header>
  <form enctype="multipart/form-data">
    <mat-card-content>
      <input #file type="file" (change)="upload(file.files[0])" accept="" style="display: none">
      <button type="button" (click)="file.click()" mat-raised-button>
        Choose File ({{ label }})
      </button>
      <br>
      <br>
      <mat-error>{{ err }}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <div class="success">{{ msg }}</div>
    </mat-card-actions>
    <button type="button" (click)="onUploadClick()" color="primary" [disabled]="showProgressBar" mat-raised-button>Upload File</button>
  </form>
</mat-card>