<mat-card class="forgot-password-card" role="region">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-title>
      <h2>We'll send you a link to reset your password.</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <form>
    <mat-card-content>
      <div class="form-holder">
        <br>
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="email" tabindex="1" type="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
      </div>
      <br>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" class="forgotPasswdBtn" mat-raised-button color="primary" [disabled]="(email.invalid || showProgressBar) ? true : false"
        tabindex="3">
        Send password reset email
      </button>
      <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
    </mat-card-actions>
  </form>
  <div class="text-center">
    <a routerLink="/" tabindex="4">Back to home</a>
  </div>
</mat-card>