.forgot-password-card {
    max-width: 400px;
    margin: 50px auto;
  }

  .form-holder {
    display: flex;
    flex-direction: column;
  }
  
  .form-holder > * {
    width: 100%;
  }

  .forgotPasswdBtn {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }