<mat-card class="signup-card" role="region">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-title>
      <h2>Register to create a new account</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <form [formGroup]="signupForm" (ngSubmit)="onSignupClick()">
    <mat-card-content>
      <div class="form-holder">
        <br>
        <mat-form-field>
          <input matInput placeholder="Enter your first name" tabindex="1" formControlName="firstName" required>
          <mat-error *ngIf="signupForm.invalid">{{ getFNameErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your last name" tabindex="2" formControlName="lastName" required>
          <mat-error *ngIf="signupForm.invalid">{{ getLNameErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="email" type="email" tabindex="3" required>
          <!-- <mat-icon matSuffix>email</mat-icon> -->
          <mat-error *ngIf="signupForm.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your mobile number" tabindex="4" formControlName="mobileNumber" minlength="10"
            maxlength="10" required>
          <mat-error *ngIf="signupForm.invalid">{{ getMobileErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select your gender" formControlName="gender" tabindex="5" required>
            <mat-option>--clear--</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="signupForm.invalid">{{ getGenderErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="myDatepicker" tabindex="6" formControlName="dob" placeholder="Enter your DOB"
            required>
          <mat-datepicker-toggle matPrefix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          <mat-error *ngIf="signupForm.invalid">{{ getDobErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password"
            tabindex="7" minlength="5" required>
          <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
            'visibility_off'}}</mat-icon>
          <mat-error *ngIf="signupForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm your password" [type]="hide ? 'password' : 'text'" tabindex="8"
            formControlName="confirmPassword" minlength="5" required>
          <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
            'visibility_off'}}</mat-icon>
          <mat-error>{{getConfirmPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <br>
      <!-- <div>
        <a href="" tabindex="10">Forgot Password?</a>
      </div> -->
    </mat-card-content>
    <mat-card-actions>
      <button class="signupBtn" type="submit" mat-raised-button color="primary" [disabled]="(signupForm.invalid || showProgressBar)"
        tabindex="9">Sign Up
      </button>
      <!-- <button mat-button>SHARE</button> -->
      <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
    </mat-card-actions>
  </form>
  <div class="text-center">
    <a routerLink="/login" tabindex="10">Already have an account? Login to Continue</a>
  </div>
</mat-card>