.signup-card {
    max-width: 600px;
    margin: 50px auto;
  }
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */
  
  /* mat-card {
    
    width: 80%;
  } */

  .form-holder {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  mat-form-field, mat-checkbox {
    /* width: 270px; */
    flex: 1 1 auto;
    margin: 15px;
  }

  .signupBtn {
    width: 100%;
  }

  .text-center {
    text-align: center;
  }

  @media screen and (max-width: 700px) {
    .form-holder {
      display: flex;
      flex-direction: column;
    }
    .signup-card {
      max-width: 400px;
    }

  } 