<div class="mat-elevation-z8 data-table">

  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- vehicleNumber Column -->
    <ng-container matColumnDef="vehicleNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle Number</th>
      <td mat-cell *matCellDef="let row">{{row?.vehicleNumber}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
      <td mat-cell *matCellDef="let row">{{row?.customerName}}</td>
    </ng-container>

    <ng-container matColumnDef="contactNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Number</th>
      <td mat-cell *matCellDef="let row">{{row?.contactNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="carMake">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Car Make</th>
      <td mat-cell *matCellDef="let row">{{row?.carMake}}</td>
    </ng-container>
    <ng-container matColumnDef="carModel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Car Model</th>
      <td mat-cell *matCellDef="let row">{{row?.carModel}}</td>
    </ng-container>
    <ng-container matColumnDef="vehicleType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle Type</th>
      <td mat-cell *matCellDef="let row">{{row?.vehicleType}}</td>
    </ng-container>
    <ng-container matColumnDef="isAssigned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned</th>
      <td mat-cell *matCellDef="let row">{{row?.isAssignedToUser}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>